# Pandas - Importing Data

In [ ]:
# Import pandas
import pandas as pd

In [ ]:
# Basic Pandas Series - 1 dimmensional labeled array - like a column in an excel sheet
series = pd.Series([10,20,30,40])
series

In [ ]:
# Pandas Series from a list
fruits = ['apples', 'bananas', 'grapes', 'pears']
ser = pd.Series(fruits)
ser

In [ ]:
# Pandas Series with Index Defined
fruits = pd.Series(data = [10, 6, 5, 4, 9], index = ['apples', 'oranges', 'grapes', 'kiwis', 'lemons'])
fruits

In [ ]:
# Pandas DataFrame from a list - 2 diminsional tabular structure with rows and columns
fruits = ['apples', 'bananas', 'grapes', 'pears'] # do twice
df = pd.DataFrame(fruits)
df

In [ ]:
# Pandas DataFrame from a List of Tuples
stock_data = [
    ('2019-02-01',305.42,316.10,303.50,312.21,312.21,7283400),
    ('2019-02-04',312.98,315.30,301.88,312.89,312.89,7352100),
    ('2019-02-05',312.49,322.44,312.25,321.35,321.35,6742800)
]
df = pd.DataFrame(data=stock_data, columns=['date','open','high','low','close','adj close','volume'])
df

In [ ]:
# Pandas DataFrame from a Dictionary
stock_data = {
    'date': ['2019-02-01','2019-02-04','2019-02-05'],
    'open': [305.42,312.98,312.49],
    'high': [316.10,315.30,322.44],
    'low': [303.50,301.88,312.25],
    'close': [312.21,312.89,321.35],
    'adj close': [312.21,312.89,321.35],
    'volume': [7283400,7352100,6742800]
}
df = pd.DataFrame(stock_data)
df

In [ ]:
# Pandas DataFrame from a Dictionary containing Pandas Series
fruits = {'Nathan': pd.Series(data = [10, 6, 5, 4], index = ['apples', 'oranges', 'grapes', 'kiwis']),
          'Hillary': pd.Series(data = [6, 9, 3, 11], index = ['banans', 'lemons', 'oranges', 'apples'])}
df = pd.DataFrame(fruits)
df

In [ ]:
# Pandas DataFrame from a CSV
df = pd.read_csv("https://becomingads.s3.amazonaws.com/TSLA.csv")
df

In [ ]:
# Get list of indexes
df.index

In [ ]:
# Get list of columns
df.columns

In [ ]:
# Get list of values
df.values

In [ ]:
# Get shape of DataFrame
df.shape

In [ ]:
# Save rows and columns as variables
rows,columns = df.shape
print("Rows: {}".format(rows))
print("Columns: {}".format(columns))

# Pandas - Viewing, Sorting, and Filtering Data

In [ ]:
# Pandas DataFrame from a CSV
import pandas as pd
df = pd.read_csv("https://becomingads.s3.amazonaws.com/TSLA.csv")
df

In [ ]:
# Get first n rows
df.head(10)

In [ ]:
# Get last n rows
df.tail(10)

In [ ]:
# Print certain columns
df[['Date', 'Open', 'Close']]

In [ ]:
# Print certain rows - notinclusive
df[30:40]

In [ ]:
# Print certain rows and columns with loc - inclusive
df.loc[30:40,['Date','Low']]

In [ ]:
# Print a certain row
df.iloc[31]

In [ ]:
# Print certain rows and columns with iloc - notinclusive
df.iloc[30:40,[1,4]] # Show slicing

In [ ]:
# Change the index
# df.set_index('Date', inplace=True) OR df = df.set_index('Date')
df = df.set_index('Date')
df

In [ ]:
# Slice with the new indexes
df['2019-02-07':'2019-03-07']

In [ ]:
# Reset index
df = df.reset_index()

In [ ]:
# Print DataFrame
df

In [ ]:
# Sort by column values
df.sort_values('High', ascending=False) # Ascending is default

In [ ]:
# Sort by multiple column values
df.sort_values(['High','Date'], ascending=False)

In [ ]:
# Filter columns based on a condition
df[df['High'] > 500]

In [ ]:
# Filter columns based multiple conditions
df[(df['High'] > 550) & (df['Low'] > 500)] # or is |

In [ ]:
# Show certain columns while filtering based on values
df[['Date', 'Low', 'High']][df['Low'] >= 500]

# Pandas - Aggregation & Column Manipulation

In [1]:
# Pandas DataFrame from a CSV
import pandas as pd
df = pd.read_csv("https://becomingads.s3.amazonaws.com/TSLA.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-01,305.420013,316.100006,303.500000,312.209991,312.209991,7283400
1,2019-02-04,312.980011,315.299988,301.880005,312.890015,312.890015,7352100
2,2019-02-05,312.489990,322.440002,312.250000,321.350006,321.350006,6742800
3,2019-02-06,319.589996,324.239990,315.619995,317.220001,317.220001,5038500
4,2019-02-07,313.299988,314.700012,303.000000,307.510010,307.510010,6520600
...,...,...,...,...,...,...,...
247,2020-01-27,541.989990,564.440002,539.280029,558.020020,558.020020,13608100
248,2020-01-28,568.489990,576.809998,558.080017,566.900024,566.900024,11788500
249,2020-01-29,575.690002,589.799988,567.429993,580.989990,580.989990,17801500
250,2020-01-30,632.419983,650.880005,618.000000,640.809998,640.809998,29005700
251,2020-01-31,640.000000,653.000000,632.520020,650.570007,650.570007,15670600

In [2]:
# Describe
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,252.000000,252.000000,252.000000,252.000000,252.000000,2.520000e+02
mean,290.224326,295.392698,285.631746,291.043929,291.043929,1.007773e+07
std,88.110986,90.569352,86.974787,89.593959,89.593959,5.736291e+06
min,181.100006,186.679993,176.990005,178.970001,178.970001,2.465600e+06
25%,231.232505,234.770001,227.512501,232.219998,232.219998,6.188625e+06
50%,259.929993,263.979996,256.335006,260.295013,260.295013,8.185200e+06
75%,318.230003,323.692505,313.375000,318.072502,318.072502,1.186875e+07
max,640.000000,653.000000,632.520020,650.570007,650.570007,3.136900e+07

In [15]:
# Different Aggregations: count, sum, mean, median, max, min, mode, abs, prod
df['High'].min()

186.679993

In [18]:
# Applies to sliced data
df.loc[30:40,'High'].sum()

3034.0699779999995

In [21]:
# Filter columns based on a condition that includes an Aggregate
df[df['High'] > df['High'].mean()]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-01,305.420013,316.100006,303.500000,312.209991,312.209991,7283400
1,2019-02-04,312.980011,315.299988,301.880005,312.890015,312.890015,7352100
2,2019-02-05,312.489990,322.440002,312.250000,321.350006,321.350006,6742800
3,2019-02-06,319.589996,324.239990,315.619995,317.220001,317.220001,5038500
4,2019-02-07,313.299988,314.700012,303.000000,307.510010,307.510010,6520600
...,...,...,...,...,...,...,...
247,2020-01-27,541.989990,564.440002,539.280029,558.020020,558.020020,13608100
248,2020-01-28,568.489990,576.809998,558.080017,566.900024,566.900024,11788500
249,2020-01-29,575.690002,589.799988,567.429993,580.989990,580.989990,17801500
250,2020-01-30,632.419983,650.880005,618.000000,640.809998,640.809998,29005700
251,2020-01-31,640.000000,653.000000,632.520020,650.570007,650.570007,15670600

In [22]:
# Create a new column based on other column data
df['Difference'] = df['Close']-df['Open']
df

,Date,Open,High,Low,Close,Adj Close,Volume,Difference
0,2019-02-01,305.420013,316.100006,303.500000,312.209991,312.209991,7283400,6.789978
1,2019-02-04,312.980011,315.299988,301.880005,312.890015,312.890015,7352100,-0.089996
2,2019-02-05,312.489990,322.440002,312.250000,321.350006,321.350006,6742800,8.860016
3,2019-02-06,319.589996,324.239990,315.619995,317.220001,317.220001,5038500,-2.369995
4,2019-02-07,313.299988,314.700012,303.000000,307.510010,307.510010,6520600,-5.789978
...,...,...,...,...,...,...,...,...
247,2020-01-27,541.989990,564.440002,539.280029,558.020020,558.020020,13608100,16.030030
248,2020-01-28,568.489990,576.809998,558.080017,566.900024,566.900024,11788500,-1.589966
249,2020-01-29,575.690002,589.799988,567.429993,580.989990,580.989990,17801500,5.299988
250,2020-01-30,632.419983,650.880005,618.000000,640.809998,640.809998,29005700,8.390015
251,2020-01-31,640.000000,653.000000,632.520020,650.570007,650.570007,15670600,10.570007

In [23]:
# Create a new column that shows the % difference
df['% Difference'] = ((df['Close']-df['Open'])/df['Open'])*100
df

,Date,Open,High,Low,Close,Adj Close,Volume,Difference,% Difference
0,2019-02-01,305.420013,316.100006,303.500000,312.209991,312.209991,7283400,6.789978,2.223161
1,2019-02-04,312.980011,315.299988,301.880005,312.890015,312.890015,7352100,-0.089996,-0.028755
2,2019-02-05,312.489990,322.440002,312.250000,321.350006,321.350006,6742800,8.860016,2.835296
3,2019-02-06,319.589996,324.239990,315.619995,317.220001,317.220001,5038500,-2.369995,-0.741574
4,2019-02-07,313.299988,314.700012,303.000000,307.510010,307.510010,6520600,-5.789978,-1.848062
...,...,...,...,...,...,...,...,...,...
247,2020-01-27,541.989990,564.440002,539.280029,558.020020,558.020020,13608100,16.030030,2.957625
248,2020-01-28,568.489990,576.809998,558.080017,566.900024,566.900024,11788500,-1.589966,-0.279682
249,2020-01-29,575.690002,589.799988,567.429993,580.989990,580.989990,17801500,5.299988,0.920632
250,2020-01-30,632.419983,650.880005,618.000000,640.809998,640.809998,29005700,8.390015,1.326652
251,2020-01-31,640.000000,653.000000,632.520020,650.570007,650.570007,15670600,10.570007,1.651564

In [25]:
# Aggregation on created column
df['% Difference'].max()

10.214296620266374

In [26]:
# Convert Date into Pandas Date Time to get dayofweek
df['Date'] = pd.to_datetime(df['Date'])
df['Day of Week'] = df['Date'].dt.dayofweek
df

,Date,Open,High,Low,Close,Adj Close,Volume,Difference,% Difference,Day of Week
0,2019-02-01,305.420013,316.100006,303.500000,312.209991,312.209991,7283400,6.789978,2.223161,4
1,2019-02-04,312.980011,315.299988,301.880005,312.890015,312.890015,7352100,-0.089996,-0.028755,0
2,2019-02-05,312.489990,322.440002,312.250000,321.350006,321.350006,6742800,8.860016,2.835296,1
3,2019-02-06,319.589996,324.239990,315.619995,317.220001,317.220001,5038500,-2.369995,-0.741574,2
4,2019-02-07,313.299988,314.700012,303.000000,307.510010,307.510010,6520600,-5.789978,-1.848062,3
...,...,...,...,...,...,...,...,...,...,...
247,2020-01-27,541.989990,564.440002,539.280029,558.020020,558.020020,13608100,16.030030,2.957625,0
248,2020-01-28,568.489990,576.809998,558.080017,566.900024,566.900024,11788500,-1.589966,-0.279682,1
249,2020-01-29,575.690002,589.799988,567.429993,580.989990,580.989990,17801500,5.299988,0.920632,2
250,2020-01-30,632.419983,650.880005,618.000000,640.809998,640.809998,29005700,8.390015,1.326652,3
251,2020-01-31,640.000000,653.000000,632.520020,650.570007,650.570007,15670600,10.570007,1.651564,4

In [28]:
# Group By and get Average Difference
df.groupby('Day of Week')['% Difference'].mean()

Day of Week
0    0.492453
1    0.429935
2    0.047916
3    0.206357
4   -0.095500
Name: % Difference, dtype: float64