In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv("datos/FAO.csv",  encoding = "ISO-8859-1")
df.head(10)

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200
5,AFG,2,Afghanistan,2514,Maize and products,5142,Food,1000 tonnes,33.94,67.71,...,231.0,67.0,82.0,67.0,69.0,71.0,82.0,73.0,77,76
6,AFG,2,Afghanistan,2517,Millet and products,5142,Food,1000 tonnes,33.94,67.71,...,15.0,21.0,11.0,19.0,21.0,18.0,14.0,14.0,14,12
7,AFG,2,Afghanistan,2520,"Cereals, Other",5142,Food,1000 tonnes,33.94,67.71,...,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0
8,AFG,2,Afghanistan,2531,Potatoes and products,5142,Food,1000 tonnes,33.94,67.71,...,276.0,294.0,294.0,260.0,242.0,250.0,192.0,169.0,196,230
9,AFG,2,Afghanistan,2536,Sugar cane,5521,Feed,1000 tonnes,33.94,67.71,...,50.0,29.0,61.0,65.0,54.0,114.0,83.0,83.0,69,81

In [3]:
print('Number of different Countries: ' , df['Area'].unique().size)

Number of different Countries:  174

In [4]:
food_Spain = df[df['Area']=='Spain']

In [5]:
food_Spain

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
17818,ESP,203,Spain,2511,Wheat and products,5521,Feed,1000 tonnes,40.46,-3.75,...,5700.0,5900.0,5700.0,5400.0,5500.0,5200.0,5000.0,5500.0,5000,5800
17819,ESP,203,Spain,2511,Wheat and products,5142,Food,1000 tonnes,40.46,-3.75,...,3700.0,3741.0,3749.0,3846.0,4055.0,4195.0,4256.0,4324.0,4411,4405
17820,ESP,203,Spain,2805,Rice (Milled Equivalent),5521,Feed,1000 tonnes,40.46,-3.75,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1
17821,ESP,203,Spain,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,40.46,-3.75,...,312.0,298.0,281.0,310.0,335.0,359.0,364.0,393.0,383,391
17822,ESP,203,Spain,2513,Barley and products,5521,Feed,1000 tonnes,40.46,-3.75,...,8095.0,5800.0,7800.0,9400.0,8700.0,7700.0,7600.0,7600.0,5600,8000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17963,ESP,203,Spain,2948,Milk - Excluding Butter,5521,Feed,1000 tonnes,40.46,-3.75,...,2103.0,2325.0,2260.0,2466.0,2412.0,2325.0,2208.0,2015.0,1933,2061
17964,ESP,203,Spain,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,40.46,-3.75,...,7000.0,6921.0,7119.0,7365.0,7310.0,7760.0,7957.0,7981.0,7955,7710
17965,ESP,203,Spain,2960,"Fish, Seafood",5521,Feed,1000 tonnes,40.46,-3.75,...,506.0,396.0,362.0,272.0,391.0,268.0,215.0,152.0,147,89
17966,ESP,203,Spain,2960,"Fish, Seafood",5142,Food,1000 tonnes,40.46,-3.75,...,1784.0,1770.0,1963.0,1950.0,1911.0,1920.0,1959.0,1947.0,1894,1989
17967,ESP,203,Spain,2961,"Aquatic Products, Other",5142,Food,1000 tonnes,40.46,-3.75,...,26.0,26.0,29.0,17.0,24.0,8.0,29.0,40.0,3,3

In [ ]:
food_Spain.info()

In [6]:
FAO_df = pd.read_excel("datos/FAO_v3.xlsx")

In [10]:
FAO_df_mean = FAO_df.groupby('Area').agg(np.mean)

In [11]:
FAO_df_mean.head(10)

,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
Area,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.94,67.71,114.228916,113.421687,110.771084,122.530120,126.180723,122.518072,136.012048,138.650602,...,199.301205,212.746988,220.686747,231.903614,233.506024,248.927711,253.373494,254.216867,273.566265,277.192771
Albania,41.15,20.17,13.869919,14.219512,14.365854,15.357724,15.317073,16.219512,16.634146,17.634146,...,53.959350,54.626016,56.186992,54.829268,58.276423,59.479675,64.284553,65.967480,66.837398,67.243902
Algeria,28.03,1.66,60.387097,58.346774,55.330645,58.508065,60.556452,60.774194,64.403226,71.282258,...,392.088710,399.693548,411.830645,402.685484,410.612903,463.750000,484.443548,531.064516,559.395161,581.943548
Angola,-11.20,17.87,44.348624,43.807339,48.073394,48.495413,50.706422,52.082569,53.513761,52.155963,...,234.321101,244.917431,259.146789,274.100917,294.064220,339.311927,352.293578,372.229358,349.211009,446.229358
Antigua and Barbuda,17.06,-61.80,0.786325,0.803419,0.897436,0.811966,0.717949,0.623932,0.547009,0.504274,...,0.786325,0.982906,0.940171,1.042735,0.982906,0.974359,0.982906,1.008547,0.965812,1.017094
Argentina,-38.42,-63.62,352.861789,331.577236,326.983740,338.520325,365.333333,379.983740,385.666667,409.406504,...,524.861789,587.934959,586.552846,602.829268,617.390244,556.276423,593.837398,640.357724,617.447154,657.260163
Armenia,40.07,45.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41.466165,45.052632,46.827068,50.774436,52.315789,51.308271,44.421053,48.293233,52.466165,53.947368
Australia,-25.27,133.78,201.523438,215.765625,225.796875,227.398438,226.257812,238.734375,237.835938,244.875000,...,453.171875,497.742188,488.781250,489.351562,503.421875,467.289062,507.234375,483.367188,484.023438,487.859375
Austria,47.52,14.55,162.172662,162.784173,170.050360,173.374101,163.050360,171.115108,172.294964,180.532374,...,176.007194,176.014388,172.877698,175.762590,181.776978,177.920863,176.388489,183.050360,173.172662,179.784173
Azerbaijan,40.14,47.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,109.145161,120.677419,126.927419,135.032258,136.798387,141.951613,142.532258,147.814516,154.806452,162.596774

In [13]:
FAO_df['Area','Y2013']

KeyError: ('Area', 'Y2013')

In [15]:
FAO_Spain_df = pd.read_excel("datos/FAO_Spain.xlsx")

In [16]:
FAO_Spain_df.head()

,Item,Element,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,Wheat and products,Feed,7,13,11,22,9,95,208,346,...,5700,5900,5700,5400,5500,5200,5000,5500,5000,5800
1,Wheat and products,Food,4101,4443,3849,3751,3679,3927,3771,3841,...,3700,3741,3749,3846,4055,4195,4256,4324,4411,4405
2,Rice (Milled Equivalent),Feed,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3,Rice (Milled Equivalent),Food,170,188,196,208,181,165,156,167,...,312,298,281,310,335,359,364,393,383,391
4,Barley and products,Feed,1709,1926,2055,2272,1971,2095,2226,2903,...,8095,5800,7800,9400,8700,7700,7600,7600,5600,8000

In [17]:
FAO_Spain_df.groupby('Item').agg(np.mean)

,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
Item,,,,,,,,,,,,,,,,,,,,,
Alcoholic Beverages,2319.0,2357.0,2297.0,2687.0,2858.0,3008.0,3034.0,2914.0,3034.0,3080.0,...,5104.0,4944.0,5298.0,4965.0,4786.0,4685.0,4644.0,4636.0,4609.0,4626.0
Animal fats,33.0,34.5,38.5,40.0,39.5,48.5,52.5,56.0,48.0,59.0,...,192.0,192.0,190.5,209.0,202.0,208.0,207.0,202.0,188.5,174.0
Apples and products,140.0,115.0,134.5,149.5,141.0,162.0,150.0,186.5,191.0,201.5,...,352.5,357.5,254.5,287.5,290.5,294.0,273.0,262.5,241.0,248.0
"Aquatic Animals, Others",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,26.0,26.0,29.0,17.0,24.0,8.0,29.0,40.0,3.0,3.0
Aquatic Plants,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vegetables,2712.5,2660.0,2763.5,2765.0,2621.5,2618.5,2638.5,2658.5,2630.0,2726.0,...,3784.5,3714.0,3397.0,3623.0,3456.0,3821.0,3434.0,3074.0,3135.0,2957.0
"Vegetables, Other",1939.5,1869.5,1952.0,1968.5,1860.0,1864.0,1834.5,1843.5,1796.5,1722.5,...,2180.0,1986.0,2057.5,2116.0,1912.5,1719.0,1617.5,1547.5,1566.0,1499.5
Wheat and products,2054.0,2228.0,1930.0,1886.5,1844.0,2011.0,1989.5,2093.5,1880.0,1991.5,...,4700.0,4820.5,4724.5,4623.0,4777.5,4697.5,4628.0,4912.0,4705.5,5102.5
Wine,1820.0,1801.0,1850.0,1900.0,2000.0,2042.0,1942.0,1782.0,1835.0,1742.0,...,1551.0,1500.0,1600.0,1203.0,1103.0,1001.0,1001.0,1001.0,986.0,984.0
Yams,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
FAO_Spain_df.loc[['Y2009','Y2012']]

KeyError: "None of [Index(['Y2009', 'Y2012'], dtype='object')] are in the [index]"