# Librerias de funciones externas
Las librerias externas contienen funciones que realizan tareas especificas por ejemplo de analisis estadistico o visualizacion de datos. Estas librerias complementan las funciones propias de Python (built-in functions) y para poder utilizarlas debemos primero instalarlas y despues importarlas en nuestro Notebook. En este curso vamos a ver algunas de las librerias mas populares de Python como NumPy y Pandas. Las librerias que veremos vienen con Anaconda asi que no vamos a necesitar instalarlas. Estas son algunas de las librerias externas (ademas de los entornos de programacion Jupyter Notebooks y Spyder) que instala Anaconda por defecto.

<img src='util/Anaconda_librerias.png'>

## 1. NumPy
NumPy es una librería de funciones matematicas que es muy popular para realizar operaciones matematicas con vectores y matrices. NumPy tiene muchas funciones pero en este curso solo vamos unas pocas pero si quereis mas informacion de NumPy y todas las funciones que contiene puedes ir a este enlace: https://numpy.org/doc/stable/user/index.html

<img src='util/Numpy_funciones.png'>

Al ser una libreria externa, es decir las funciones no son propias (built-in) de Python, lo primero que debemos hacer para poder usar las funciones de NumPy es importar NumPy y darle un nombre, por ejemplo *np*.

In [1]:
import numpy as np # importamos la libreria NumPy como np (podemos darle otro nombre si queremos)

A partir de ahora para usar las funciones de NumPy debemos poner np. seguido del nombre de la funcion.

⚡ Si en una celda ponemos np. y pulsamos la tecla Tabulador veremos la lista de funciones disponibles de Numpy que como verás son muchísimas.

In [2]:
np.

SyntaxError: invalid syntax (<ipython-input-2-df0eca0bfa5c>, line 1)

### 1.1 Array
Un concepto muy importante en NumPy es *array*, es como se llama a las estructuras de valores que utiliza NumPy. Un *array* es similar a una lista de valores pero en un formato que NumPy reconoce y que es compatible con las funciones de Numpy.

Con la funcion ***array*** de NumPy podemos crear un array (vector o matriz) a partir de una lista de valores

In [3]:
miLista = [2,5,10,20,6] # creamos una lista de valores
miArray = np.array(miLista) # creamos un array a partir de la lista de valores

In [4]:
miArray

array([ 2,  5, 10, 20,  6])

miArray es ahora una lista de valores que al tener el formato formato *array* la hacemos compatible con NumPy

### 1.2 Funciones basicas de NumPy
NumPy contiene una serie de funciones basicas que son muy similares a algunas de las funciones propias (built-in) de Python, por ejemplo:

Para crear secuencias de valores

In [5]:
miArray = np.arange(1,10,1)

En el case de miArray, hemos creado una lista de valores del tipo *array* (es decir un vector o matriz) que es el formato propio de NumPy

In [6]:
miArray

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

Para calcular el maximo valor

In [7]:
np.max(miArray)

9

In [ ]:
max(miArray)

❗ Como puedes ver las dos funciones se llaman igual *max*, pero podemos distinguir la que es propia de NumPy porque debemos poner *np.* delante del nombre de la funcion. 

Para calcular el numero de valores o elementos tenemos la funcion *size* que es similar a la funcion propia de Python llamada *len*.

In [ ]:
np.size(miArray)

In [ ]:
len(miArray)

### 1.3 Creacion de arrays de valores aleatorios
Con la funcion ***random*** podemos crear arrays (vectores o matrices) de valores aleatorios con una determinada distribucion estadistica. Dentro de la funcion *random* podemos usar otras sub-funciones si ponemos random seguido de un punto, entre ellas tenemos las sub-funciones ***uniform*** y ***normal***.

Por ejemplo vamos a crear un vector de 20 valores aleatorios comprendidos entre 0 y 5 segun una distribucion uniforme:
<img src='util/distribucion_uniforme.png'>

In [ ]:
np.random.uniform(low=0, high=10, size=[20,1]) # low = limite inferior, high = limite superior, 
# size = [numero de filas, numero de columnas] del array (vector o matriz)

O un vector 20 de valores aleatorios segun una distribucion normal con un valor medio igual a 5 y una desviacion estandar igual a 2.
<img src='util/distribucion_normal.png'>

In [ ]:
np.random.normal(loc = 5, scale = 2, size=[20,1]) # loc = valor medio, scale = desviacion estandard
# size = [numero de filas, numero de columnas] del array (vector o matriz)

⚡ **Ejercicio:** Intenta tú ahora crear una matriz de valores aleatorios segun una distribucion normal. La matriz debe tener 10 filas y 5 columnas y los valores deben tener un valor medio de 10 y una desviacion estandar de 3.

Ahora crea una variable que se llame *matriz* y que contenga una matriz como la que acabamos de crear.

¿Tienen los mismos valores las dos matrices que hemos creado?

Y por ultimo calcula el numero de valores que tiene *matriz*

## 2. Pandas
Pandas es una librería de Python especializada en el manejo y análisis de estructuras de datos, en particular tablas de datos. Con Pandas puedes:

- Define nuevas estructuras de datos basadas en los arrays de la librería NumPy pero con nuevas funcionalidades.
- Permite leer y escribir fácilmente ficheros en formato CSV y Excel.
- Permite acceder a los datos mediante índices o nombres para filas y columnas.
- Ofrece métodos para reordenar, dividir y combinar conjuntos de datos.
- Permite trabajar con series temporales.

Pandas tiene muchas funciones pero en este curso solo vamos unas pocas pero si quereis mas informacion de Pandas y todas las funciones que contiene puedes ir a este enlace: https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html

<img src='util/Pandas_funciones.png'>

En este Notebook vamos a ver ademas como podemos combinar las librerias NumPy y Pandas.

Al ser Pandas una libreria externa, es decir las funciones no son propias (built-in) de Python, lo primero que debemos hacer para poder usar las funciones de NumPy es importar Pandas y darle un nombre, por ejemplo *pd*.

In [9]:
import pandas as pd
import numpy as np

A partir de ahora para usar las funciones de Pandas debemos poner pd. seguido del nombre de la funcion.

⚡ Si en una celda ponemos pd. y pulsamos la tecla Tabulador veremos la lista de funciones disponibles de Pandas que como verás son muchísimas.

In [ ]:
pd.

### 2.1 Dataframes
Un concepto muy importante en Pandas es *dataframe*, es como se llama a las estructuras de valores que utiliza Pandas. Un *dataframe* son el nucleo de Pandas y podemos pensar en un *dataframe* como una tabla de datos que comparten el mismo índice o en otras palabras el equivalente de un tabla de Excel. Vamos a crear un *dataframe* con Pandas para entender mejor que es y para que nos puede servir.

Primero vamos a crear una matriz de valores aleatorios con NumPy (tal y como hemos visto en la primera parte de este Notebook dedicada a NumPy). Por ejemplo, con la funcion de NumPy *random.uniform* creamos una matriz de 12 filas y 6 columnas de valores aleatorios comprendidos entre 0 y 100 y le vamos a dar el nombre *rain*.

In [ ]:
rain = np.random.uniform(low = 0, high = 100, size = [12,6])
print(rain)

Ahora usando Pandas vamos a crear el Dataframe usando los datos de *rain*, para ello vamos a utilizar la funcion *DataFrame* de Pandas.

In [ ]:
rain_df = pd.DataFrame(rain)
print(rain_df)

¿Qué ha cambiado?

Vamos a hacerlo de nuevo pero ahora vamos a especificar el nombre de las filas (*index*) y las columnas (*columns*).

In [ ]:
rain_df = pd.DataFrame(rain, index = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dec'],
                             columns = ['2022', '2023', '2024', '2025', '2026', '2027'])
rain_df

De este modo podemos dar mas informacion de los datos contenidos en una matriz o vector. 

### 2.2 Extraer valores seleccionados
De una manera similar a como hacemos en Numpy con los *arrays*, podemos extraer los datos que mas nos interese de un *dataframe* pero Pandas nos permite acceder a los datos mediante índices o nombres para filas y columnas en vez de numeros de filas o columnas. Para ello utilizamos la funcion *loc*.

In [ ]:
rain_df.loc[['Ago','Dec'],['2023','2026']]

In [ ]:
rain_df.loc['Ago':'Dec','2023':'2026']

In [ ]:
rain_ago_df = rain_df.loc['Ago',:]
rain_ago_df

### 2.3 Añadir o actualizar los valores de un *dataframe*

Podemos añadir una nueva columna con nuevos datos

In [ ]:
rain_df['2028'] = np.random.uniform(low = 0, high = 100, size = [12,1])
rain_df

¿Que pasa si repetimos la misma operacion?

In [ ]:
rain_df['2028'] = np.random.uniform(low = 0, high = 100, size = [12,1])
rain_df

❗**Importante**: Presta atencion al numero entre corchetes a lado de la celda, te da el orden de ejecucion de las celdas.

⚡**Ejercicio:** En la celda de abajo hemos escrito el codigo para añadir otra columna llamada 2029 pero al ejecutar la celda da un error, ¿sabes por que? ¿lo puedes arreglar?

In [ ]:
rain_df['2029'] = np.random.uniform(low = 0, high = 100, size = [1,12])
rain_df

Vamos a crear una nueva columna que sea la media de los valores de cada año. Primero ¿como calculamos la media?

In [ ]:
rain_df.mean(1) # si entre parentesis ponemos 0 la media la hace por columnas, si es un 1 entonces la media es por filas.

Ahora añadimo una columna llamada *media* con la media de los valores por filas.

In [ ]:
rain_df['media'] = rain_df.mean(1)
rain_df

### 2.4 Series temporales con Pandas
Pandas introduce un nuevo tipo de valor (ademas de los que ya habiamos visto: numerico, cadena de caracteres y booleano) que es la fecha. Como vamos a ver esto es especialmente util para tratamiento y analisis de series temporales (o historicas) por ejemplo, datos diarios de lluvia. 

Como ejemplo vamos a crear usa serie temporal de datos diarios de lluvia: 

1. Con la funcion *random.uniform* de NumPy creamos un *array* de 365 valores aleatorios comprendidos entre 0 y 20 y lo guardamos en un variable que se llame *lluvia_array*:

In [ ]:
lluvia_array = np.random.uniform(low=0, high=20, size = [365,1])
lluvia_array

2. Ahora con la funcion ***date_range*** de Pandas creamos un serie temporal con las fechas del año 2021 y lo guardamos en la variable fechas_2021

In [ ]:
fechas_2021 = pd.date_range(start = '2021-01-01', end = '2021-12-31') 
fechas_2021

3. Por ultimo creamos un dataframe llamado *lluvia_dataframe* en el que los indices sean los valores de *fechas_2021*, y que contenga una columna llamada *lluvia (mm / dia)* con los datos de *lluvia_array*.

In [ ]:
lluvia_dataframe = pd.DataFrame(lluvia_array, index = fechas_2021, columns = ['lluvia'])
lluvia_dataframe

In [ ]:
lluvia_dataframe['2021-02-01':'2021-02-28']

In [ ]:
lluvia_dataframe[lluvia_dataframe.index.month == 2]

In [ ]:
lluvia_dataframe[lluvia_dataframe['lluvia'] > 18]

In [ ]:
lluvia_dataframe['2021-02-01':'2021-02-28'][lluvia_dataframe['lluvia'] > 18]

In [ ]:
lluvia_dataframe[lluvia_dataframe.index.month == 2][lluvia_dataframe['lluvia'] > 18]

In [ ]:
lluvia_dataframe.resample("W").mean()

Si quereis saber mas sobre como crear y modificar dataframes: https://pandas.pydata.org/docs/user_guide/index.html

### 2.5 Pandas y Excel
#### Guadar dataframes en archivos que pueda leer Excel
Una de las mejores caracteristicas de Pandas es que puedes guardar los dataframes en formato Excel. Vamos a guardar el dataframe *rain_df* en la carpeta *datos* como un archivo Excel (.xlsx), para ello utilizamos la funcion ***to_excel***

In [ ]:
rain_df.to_excel('datos/rain_df.xlsx')

Tambien podemos guardarlo como un archivo de texto del tipo .csv (comma-separated values) con la funcion ***to_csv***

In [ ]:
rain_df.to_csv('datos/lluvia_dataframe.csv')

#### Leer archivos Excel con Pandas
Y tambien leer archivos Excel. Con la funcion ***read_excel*** las tablas Excel son convertidas a *dataframe* y asi podemos utilizar las funciones de Pandas

In [ ]:
pd.read_excel('datos/rain_df.xlsx')

E igualmente podemos leer archivos de texto del tipo .csv (comma-separated values) con la funcion ***read_csv*** y guardarlo como una variable

In [17]:
colesterol_df = pd.read_csv('datos/colesterol.csv') # leemos los datos del archivo colesterol.csv y
# los guardamos como un dataframe en una variable que se llama colesterol_df
colesterol_df

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

### 2.6 Utilizar operaciones de comparacion para extraer datos de un Dataframe que cumplan ciertas condiciones
Con los operadores de comparacion (>, <, =) podemos extraer los datos que mas nos interesen de un dataframe.

De los datos que tenemos disponibles en *colesterol_df* vamos primero a mirar la columna de la edad.

In [56]:
colesterol_df['edad']

0     18
1     32
2     24
3     35
4     46
5     68
6     51
7     22
8     35
9     46
10    53
11    58
12    27
13    20
Name: edad, dtype: int64

Ahora vemos cual son mayores de 40

In [61]:
colesterol_df['edad'] >= 40

0     False
1     False
2     False
3     False
4      True
5      True
6      True
7     False
8     False
9      True
10     True
11     True
12    False
13    False
Name: edad, dtype: bool

Asi solo podemos ver los indices que cumplen o no la condicion pero nos gustaria extraer todos los datos de las personas mayores de 40.
```python
nombre_dataframe[(nombre_dataframe['nombre_columna'] condicion)]
```

In [59]:
colesterol_df[(colesterol_df['edad'] >= 40)]

                        nombre  edad sexo  peso  altura  colesterol
4         Marisa López Collado    46    M  51.0    1.58       148.0
5            Antonio Ruiz Cruz    68    H  66.0    1.74       249.0
6      Antonio Fernández Ocaña    51    H  62.0    1.72       276.0
9      Santiago Reillo Manzano    46    H  75.0    1.85       280.0
10       Macarena Álvarez Luna    53    M  55.0    1.62       262.0
11  José María de la Guía Sanz    58    H  78.0    1.87       198.0

Ahora queremos ver que personas mayores de 40 tienen alto el colesterol, en este caso colesterol > 200. Cuando tenemos varias condiciones:

```python
nombre_dataframe[(nombre_dataframe['nombre_columna_1'] condicion_1) & (nombre_dataframe['nombre_columna_2'] condicion_2)]
```

In [46]:
colesterol_df[(colesterol_df['edad'] >= 40) & (colesterol_df['colesterol'] > 200)]

                     nombre  edad sexo  peso  altura  colesterol
5         Antonio Ruiz Cruz    68    H  66.0    1.74       249.0
6   Antonio Fernández Ocaña    51    H  62.0    1.72       276.0
9   Santiago Reillo Manzano    46    H  75.0    1.85       280.0
10    Macarena Álvarez Luna    53    M  55.0    1.62       262.0